*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    padding:1em;
    width: 100%;
    text-align: center;
}

.flex{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 66vh;
    align-items: center;
}

.box{
    min-width: 200px;
    width: 100% ;
    margin :1em ;
    font-size: 1.9 em;
}

.box.confirmed{
    padding: 0.5em;
    border:1px solid #c4c4c4;
    background: #ffc402;
    border-radius: 8px;
}
.dropdown{
    padding: 0.5em;
    margin:1em 0;
    font-size: 1.5em;
    min-width: 200px;
    width: 100% ;
   
}


.box.deaths{
    padding: 0.5em;
    border:1px solid #c4c4c4;
    background: #ff0202;
    border-radius: 8px;
}

.box.recovered{
    padding: 0.5em;
    border:1px solid #c4c4c4;
    background: #008817;
    border-radius: 8px;
}

@media screen and (min-width :800px){
    .flex{
        flex-wrap: nowrap;
    }

    .box{
       
        padding: 2em 1em;
        max-width: 300px;
        line-height: 1.5;
        font-size: 2em;
    }
}